# Visual Studio workspace
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
bin/
obj/
[Bb]uild/
[Ll]og/
*.cache
*.vsidx
*.v2

# Compiled
*.dll
*.exe
*.pdb

# Others
*.dbmdl
*.jfm
*.tlog
*.ipch
*.opendb
*.VC.db
*.ildb
*.tmp